@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}

$headerButtonColor: #3a2483;
$storyNaviButtonColor: rgb(10, 93, 24);
$visistedStorycolor: rgb(61, 156, 60);

$bg_color: rgba(255, 220, 174, 0.5);
$bg_color2:  rgba(172, 199, 0, 0.5);

//other version

$headerButtonColor: #8a0b79;
$bg_color: rgba(255, 220, 174, 0.5);
$bg_color2:  rgba(199, 0, 162, 0.5);


%border-button {
    transition: outline .2s;
    text-align: center;
    background-color: $headerButtonColor; 
    outline: 0px solid black;
    color: white;
    padding: 10px 20px;
}
%border-button:hover{
    outline: 5px solid black;
    cursor: pointer; 
}
%storyBorder-button {
    @extend %border-button;
    background-color: $storyNaviButtonColor; 
}

.patreonButton {
    border: 2px solid black;
    padding: 0;
    background-size: cover;
    position: relative;
    margin: 0 auto;
    display: block;
    @extend %border-button;
}