.navigation {
    a {

        text-decoration: none;
        width: auto;
    }
    h1, h4 {
        // color: $headerButtonColor;
        margin: 10px 20px;
        padding: 5px 20px;
        width: 50%;
        text-align: center;
    }
    a:hover {
        color: rgb(0, 0, 0);
    }
    h1 {
        border-bottom: 2px solid black;
    }
    img {
        display: inline-block;
        height: 30px;
    }
    ul {
        position: absolute;
        right: 10%;
        align-content: right;
        text-align: right;
        float: left;
        width: 40%;
        li {
            list-style-type: none;
            float: right;
            margin: 10px 5px;
            @extend %border-button;
            //max-width: 200px;
        }
    }
}
