.storywrapper {
    .storyList {
        align-content: center;
        list-style-type: none;
        padding: 0px;
        width: 80%;
        margin: 10px auto;

        a {
            border: 0px solid black;
            text-decoration: none;
            li {
                margin: 20px 0;
                outline: 2px solid black;
                background: aliceblue;
                transition: outline .2s;
                position: relative;
                
                vertical-align: middle;
                align-content: center;

                .name, .info{
                    float: left;
                    // outline: 1px solid red;
                    width: auto;
                    max-width: 50%;
                }
                .info{
                    float: right;
                }
                .name {
                    // height: 200px; 
                    b {
                        font-size: 1.5em;
                    }
                }
                .info {
                    // width: 25%;
                    text-align: right;
                    p {
                        padding: 0;
                        margin: 0;
                        font-size: 0.7em;
                    }
                }
                
    
                padding: 20px 5px;
            }
            li:hover{
                background: white;
                outline: 5px solid black;
            }
            li:after {
                clear: both;
                content: "";
                display: table;
            }
        }
    }
    .storyInfoWrapper{
        text-align: center;
    }

    .half{
        text-align: left;
        display: inline-block;
        width: 49%;
        vertical-align:top;
        min-width: 400px;
    }
    .infoPanel {
        
        margin: 20px;
        //border: 2px solid grey;
        padding: 10px 20px;
        .startReadingButton {
            text-decoration: none;
            @extend %storyBorder-button;

        }
        table {
            border: 1px solid black;
            text-align: center;
            th{
                padding: 10px 30px;

            }
            tr:nth-child(even) {background: #CCC}
            tr:nth-child(odd) {background: #FFF}
        }
        .top3users { 
            margin-top: 50px;
            margin-left: 20%;
        }
    }
    .added-parts {

        a {
            text-decoration: none;
            li {
                position: relative;
                margin: 20px 0;
                outline: 2px solid black;
                background: aliceblue;
                transition: outline .2s;

                padding: 10px 5px;
                padding-bottom: 15px;
                b {

                    // width: 50%;
                    border: 0px solid black;
                    font-size: 0.8em;
                    // margin-bottom: -15px;
                    
                    // position: relative;
                    // top: 10px;
                }
                p {
                    position: absolute;
                    float: right;
                    font-size: 0.7em;
                    right: 2px; 
                    // margin-top: 20px;
                    bottom: -10px;
                    

                }
               
                section{
                    position: absolute;
                    // border: 1px solid black;
                    width: 20px;
                    height: 15px;
                    right: 2px;
                    top: 2px;
                    background: url("./img/image_icon.PNG");
                    background-size: cover;

                }
            }
            li:hover{
                background: white;
                outline: 5px solid black;
            }
            
        }

        .navigationButtons {
            margin-top: 20px;
            text-align: center;
            align-content: center;
            a {
                @extend %storyBorder-button;
                margin: 0px 10px;
                padding: 10px 10px;

            }
            b {
                //position: absolute;
                widows: 100%;
                text-align: center;
            }
        }

    }
    
    .layerNumber {
        //position: absolute;
        //outline: 1px solid blue;
        //right: 100px;
        text-align: right;
        margin-bottom: -50px;
        padding: 10px;
        height: 50px;
        font-size: 20px;
        .author {
            font-size: 0.7em;
        }
    }
    .storyTitle {
        //border: 5px solid red;
        width: auto;
        display: inline-block;
        padding-left: 20px;
    }
    .editButton {
        position: absolute;
        width: 30px;
        padding: 20px;
        opacity: .5;
        transition: opacity 0.5s;
    }
    .editButton:hover {
        opacity: 1;
        cursor: pointer;
    }
    #starElement {
        position: absolute;
        display: block;
        right: 10%;
        margin-top: -50px;
        .starIcon {
            width: 30px;
            padding: 10px;
            opacity: .5;
            transition: opacity 0.5s;

        }
        .starIcon:hover {
            opacity: 1;
            cursor: pointer;
        }
        .starIcon:hover + #starMessage {
            opacity: 1;
        }
        p {
            font-size: 0.8em;
            color: rgb(195, 150, 2);
            position: absolute;
            // outline: 1px solid black;
            right: 45px;
            top: 5px;
            text-align: right;
            width: 100px;
        }
        #starMessage {
            background: black;
            padding: 5px;
            border-radius: 20px;
            display: block;
            position: absolute;
            color: white;
            width: 100px;
            text-align: center;
            opacity: 0;
            margin-top: -5px;
            margin-right: -20px;
            transition: opacity 0.5s;

        }
    }
    

    
    .chooseMessage {
        width: 50%;
        text-align: center;
        vertical-align: middle;
        margin-left: 25%;
        min-height: 50px;
        // margin-bottom: 0px;
        //transform: rotate(-5deg);
        a {
            @extend %storyBorder-button;
        }
    }
}
.duoWrapper {
    height: auto;

    //overflow: auto;
    //display: flex;

    //align-items: flex-start;
    text-align: center;
    vertical-align: top;
    .leftside {
        display: inline-block;
        width: 45%;
        // border: 5px solid red;
    }
    .rightside {
        display: inline-block;
        width: 45%;
        vertical-align: top;
        margin: auto 0;
        min-width: 400px;

        text-align: left;
    }

    .leftside {
        align-content: center;
        text-align: center;
        min-width: 400px;

        img {

            border: 10px solid rgb(251, 178, 69);
            border-left-color: rgb(207, 145, 51);
            border-right-color: rgb(207, 145, 51);
            border-bottom-color: rgb(145, 102, 37);

            //padding: 50px;
            display: none;
            width: 90%;
            box-shadow: -18px 10px 2px -6px rgba(0, 0, 0, 0.149);

        }
        .show {
            display:  inline-block;
        }
    }

    .rightside {
        .contentPanel {
            padding: 20px;
        }
    }
}
.duoWrapperWithoutImg {
    .leftside {
            display: none;
    }
    .rightside {
        text-align: left;
        width: 70%;
    }

}

.questionPanel {
    margin-left: 25%;
    width: 50%;
    text-align: center;
}

.optionsList {
    //height: 50px;
    float: none;

    ul {
        align-content: center;
        text-align: center;
        list-style-type: none;
        padding: 0px;
        width: 80%;
        margin: 0 auto;
        li {
            display: inline-block;
            text-align: center;
            //border: 2px solid rgb(22, 2, 41);
            margin: 20px 10px;
            width: auto;
            min-width: 100px;
            //padding-top: 20px;


            color: white;

            a {
                text-decoration: none;
                font-size: 1em;
                line-height: 2.4em; 
                @extend %storyBorder-button;
            }
            a:visited {
                background-color: $visistedStorycolor;
            }
        }
    }
    .createnewPartButton {
        width: 200px;
        margin: 20px auto;
        @extend %border-button;
    }
}